name: DeepSeek Telegram Bot

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # перезапуск каждые 6 часов

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pyTelegramBotAPI requests

    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        DEEPSEEK_KEY: ${{ secrets.DEEPSEEK_KEY }}
      run: |
        echo "import os" > config.py
        echo "BOT_TOKEN = os.getenv('BOT_TOKEN')" >> config.py
        echo "DEEPSEEK_KEY = os.getenv('DEEPSEEK_KEY')" >> config.py
        python3 bot.py
